*{
    margin: 0;
    font-family: "Poppins", sans-serif;
    transition: all .30s ease;
}

/* ===============================================================
    typography
     */
.container.title h2{
    margin: 1.5rem auto;
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
}
/* ================================================================
    layouts
     */
.container{
    max-width: 900px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.Product-collecter{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin-bottom: 4rem;
}
.Product-collecter a{
    text-decoration: none;
    color: #000;
}
.Product-box{
    background-color: #eeeee6;
    padding: 20px;
    border-radius: 20px;
}
.Product-box h3{
    font-size: large;
    font-weight: 500;
}
.Product-box p{
    font-size: small;
    letter-spacing: 7px;
}
.Product-box img{
    width: 100%;
    filter: drop-shadow( 0 50px 20px #0009);
}






/* ===================================================================
    product_detail
     */

.main-product {
    padding: 2rem;
    display: flex;
    justify-content: center;
    text-align: left; 
}
.hero-img-box {
    width: 350px;
    position: relative;
}
.hero-img-box::before{
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #94817733;
    content: '';
    z-index: -10;
    border-radius: 190px 100px 170px 180px;
    left: calc(55% - 150px);
    top: 50px;
}
.hero-info{
    width: 350px;
    font-size: .9rem;
}
.hero-img {
    width: 100%;
}
.hero-info h2{
    font-size: 3rem;
}
.price{
    font-size: 1rem;
    letter-spacing: .7rem;
}
.check-out{
    display: inline-block;
    padding: .6rem 1rem;
    background-color: #EEEEEB;
    border-radius: 1rem;
    margin-right: 1rem;
}
.Add-to-cart-box{
    padding: .6rem 1rem;
    background-color: #2D2E2C;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 1rem;
}
.Add-to-cart-box i{
    margin-left: 1rem;
}
.buying-box{
    font-size: 1rem;
    display: flex;
    width: 90%;
    margin: .5rem 0 1rem 0;
    flex-wrap: wrap;
}


/* similar product recomendation*/
.similar-product{
    display: grid;
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.similar-product-container{
    margin-bottom: 4rem;
}







/* animation */
.Product-box img:hover{
    transform: scale(1.1);
}
.check-out:hover{
    background-color: #2D2E2C;
    color: #fff;
    transform: translatex(.5rem);
    box-shadow: 0 10px 20px rgb(0,0,0,0.2);
}
.Add-to-cart-box:hover{
    box-shadow: 0 10px 20px rgb(0,0,0,0.3);
}





/* =========================================================================
    media queries
     */
@media (max-width:992px){
    .Product-collecter{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:768px){
    .Product-collecter{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:500px){
    .Product-collecter{
        grid-template-columns: repeat(1,1fr);
    }
    .hero-img-box{
        width: 100%;
    }
    .hero-info{
        width: 100%;
    }
}
@media(max-width:650px){
    .main-product{
        flex-direction: column;
        align-items: center;
    }
}